*{
    margin: 0;
    padding: 0;
}
.mainitembox{
    width:10%;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img{
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
   
  }
  .rebtn{
    border-radius: 5px;
    width: 100%;
    height:30px;
    border: 1px solid black;
    background-color: rgb(18, 18, 18);
    color: aliceblue;
    cursor: pointer;
  }
  .smallitems{
    display: flex;
    flex-wrap: wrap;
  }
    
  .maindiv{
    /* display: flex; */
    justify-content: space-between;


  } 
  .carttotal{ 
    width: 15%;
    float:right;
    top: 0px;
    background-color: black;
    color: white;
  }
  .h3{
  
    margin-left: 100px;
  }
  .prices{
    margin-left: 150px;
  }
  .total{
    margin-left: 150px;
  }
  .btn{
    margin: left 200px;
  } 
